* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .nav {
    background-color:  #990099;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav-items {
    display: flex;
    justify-content: space-between; /* Distribute items across the available space */
    flex: 1;
    margin-left: 2rem; /* Adjust the left margin to create some space between the title and nav items */
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem; /* Increase the gap to add more spacing between items */
    width: 100%; /* Ensure the ul takes up the full width of the nav-items container */
    justify-content: flex-end; /* Align the items to the right */
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: larger;
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }

#login {
    background-color: white; /* Fondo blanco para destacar */
    color: #9B28A3; /* Color púrpura del texto */
    border: 2px solid #9B28A3;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
#login:hover {
    background-color: #9B28A3; /* Fondo púrpura al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
  }

.contenedor {
  width: 80vw;
  margin: 0 auto;
  padding: auto;

  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;

}
.contenedor div{
  border: 1px solid black;
} 

.element1 {
  background-color: seagreen;
  grid-column: 1/2;
  grid-row: 1/6;
}

.element2 {
  background-color: deeppink;
  grid-column: 2/6;
  grid-row: 1/2;
}

.element3 {
  background-color: violet;
  grid-column: 2/5;
  grid-row: 2/4;
}

.element4 {
  background-color: tomato;
  grid-column: 2/5;
  grid-row: 4/5;
}
